@model UsingSessionState.ViewModels.SessionStateViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h2>Using Session State</h2>
<dl>
    <dt>Date Now </dt>
    <dd>@Model.Now</dd>
    <dt>Date Session started </dt>
    <dd>@Model.DateSessionStarted</dd>
</dl>
