@page
@model IndexModel
@inject Microsoft.FeatureManagement.IFeatureManagerSnapshot FeatureManager
@{
    ViewData["Title"] = "Home page";
}

<ul>
@for (var i = 0; i < 10; i++)
{
    <li>Flag is: @FeatureManager.IsEnabled(FeatureFlags.NewExperience)</li>
}
</ul>